@import "variables";

/* header */

.header {
	background: linear-gradient(to bottom, #ffffff 0%, #fff 70%, #eeeeee 100%);
	border-bottom: #00235D solid 7px;
}

/* Top Bar  */

.top {
	background: #00235d;
	color: #fff;
}

.logo {
  max-width: 300px;
	margin-top: 10px;
	@media screen and (max-width: 480px) {
		max-width: 100%;
	}
}

.navigation--top a {
	color: #fff;
}

.navigation--top > li > a:hover {
	color: $color-primary-light;
}

.icon-box__title {
  margin: 4px 0 0 0;
  font-size: 14px;
  font-weight: bold;
  color: #747474;
}

.widget-icon-box .icon-box:hover .fa {
  color: $color-primary-light;
}

/* NAVIGATION COLOR */

@media (min-width: 992px) {
.navigation {
  position: relative;
  background-color: #f9f9f9;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	margin-bottom: -41px;
  text-align: center;
  z-index: 210;
	}
}

.navigation--main > .menu-item-has-children>a::after {
  color: $dark-text;
}

.navigation--main > li:hover > a::after {
  color: $dark-text;
}

/* MOBILE NAVIGATION */

.navigation--main > li > a {
  color: $dark-text;
	font-size: 14px;
	&:hover {
		color: $color-primary-light;
	}
}

.navigation--main .sub-menu > li > a {
  color: $dark-text;
	&:hover {
		color: $color-primary-light;
	}
}

/* HOMEPAGE SLIDER */

@media (min-width: 992px) {
.carousel-content {
	background: rgba(53,45,18, .95);
	}
}

.jumbotron__category h6 {
	color: #fff;
}


/* BUTTON */

.btn-primary {
	background: #4077BC;
	color: #fff;
	border-color: #5E77A0;
	border:none;
}

.btn-primary:hover {
	background: #3B5576 ;
	color: #fff;
	border:none;
}

.promo {
	background: $blue;
	color: #fff;
}

.custom-promo {
	background: none;
}

.btn-default {
	background: $light-cream;
	border: none;
	color: $light-gold;
}

.btn-default:hover {
	background: $light-gold;
	color: $white;
	border: none;
}

/* footer */

.footer {
	background-color: $color-primary-dark;
	background-image: url('../images/backgrounds/RDA-background.svg');
	background-repeat: no-repeat;
	background-size: 700px;
	background-position: 10%;
	border-top: $color-primary-light solid 8px ;

	a , p {
		color: $white;
	}
}

.footer__headings {
	color: $white;
}

.footer-bottom {
	background: $dark-dark-brown;
	color: #fff;
	a {
		color: #fff;
	}
}

.footer .btn-primary {
	color: $white;
	&:hover {
		color: #fff;
	}
}

.footer .widget_nav_menu ul > li > a, .footer .textwidget{
	color: $white;
}

.widget_text img.footer__logo {
	max-width: 300px;
}

/* NAVIGATION */

@media (min-width: 992px) {
	.navigation--main  {

		& > li {

			&:hover > a {
				border-top: 3px solid $color-primary-light;
			}
		}

		.sub-menu {

			border-top: 2px solid $color-primary-light;

			& > li {

				& > a {
				  color: #333333;
				  background: $white;
				  border-bottom: 1px solid $light-grey;
				  padding: 12px 30px 12px 30px;

					&:hover {
						background: $color-primary-light;
						color: $white;
					}
				}
			}
		}
	}
}

.custom-promo-box {
	background: #eee;
	padding: 30px;
}

a {
	color: $color-primary-light;
	&:hover {
		color: $color-primary;
	}
}

.alternative-heading::after, .alternative-heading--404::after, .sidebar__headings::after, .footer .footer__headings::after, .jumbotron__category::after, .hentry__title::after, .panel-grid .widget-title::after, body.woocommerce-page div.product .woocommerce-tabs h2::after, body.woocommerce-page .short-description::after, body.woocommerce-page .cart-collaterals .cart_totals h2::after, body.woocommerce-page .cart-collaterals .shipping_calculator h2::after {
  background-color: $color-primary-light;
}

/* HEADER */

.social-icons__link {
  color: $color-primary-light;
	&:hover {
		color: $color-primary-dark;
	}
}


.widget-icon-box {
	border-color: #e7e7e7;
}

.main-title__secondary::before {
  background: $color-primary-light;
}

.sidebar .widget_nav_menu ul > li.current-menu-item a {
  background: $color-primary;
  color: $white;
}

.sidebar .widget_nav_menu ul > li > a:hover {
	color: $white;
	background: $color-primary-light;
}

/* HOMEPAGE MASTER CONTAINER  */

#homepage-master-container {
	overflow:hidden;
}

.brochure-box:hover {
  background-color: $color-primary-light;
	color: $white;
	.brochure-box__text {
		color: $white;
	}
}

/* PAGINATION  */

.pagination li {
	&:hover a {
		color: $white;
	}
	&:hover {
		background: $color-primary-light;
	}

 	& .current {
  	display: block;
  	color: $white;
  	background: $color-primary;
	}
}

.widget_tag_cloud a {
  background: $color-primary-light;
	color: $white;
	&:hover {
		background: $color-primary;
		color: $white;
	}
}

.widget_search .search-submit {
  background: $color-primary-light;
  color: $white;
	&:hover {
		background: $color-primary;
		color: $white;
	}

}

.page-box__picture > img, .master-container img, #homepage-master-container img {
  border: solid 5px #CDCDCD;
}

a > img.alignRight {
  float: right;
  margin: 5px 0 20px 20px;
}

blockquote {
	border-color: $color-primary-light;
}

/* PRESENTATION ONLY */

.link {
	&-hover {
		color: $color-primary;
		text-decoration: underline;
	}
	&-visited {
		color: $color-primary-dark;
	}
}

/* TITLE AREA */

.main-title {
	background-image: url(../images/title-area-pattern.png);
	&__primary, &__secondary{
		font-family: "Montserrat", Helvetica, Arial, sans-serif;
		font-weight: bold;
		color: #333333;
		letter-spacing: -0.5px;
	}

	@media (min-width: 992px) {
		padding: 77px 0 44px 0;
	}
}

.breadcrumbs.blog-post-bc {

	@media (min-width: 992px) {
		margin-top: 37px;
		margin-bottom: 34px;
	}
}

.resource-listing {
		margin-bottom: 30px;
	a {
		line-height: 1.5;
		font-weight: 300;
	}
	 li h5 {
		font-size: 16px;
		font-weight: 300;
		font-family: 'Source Sans Pro' Helvetica, Arial, sans-serif;
	}
}

.resource-block {
	margin-bottom: 48px;
	& a.btn {
		float:right;
	}
}

.resource-title {
	position: relative;
	margin-top: 30px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	&::after {
		position: absolute;
		content: "";
		background-color: $color-primary;
		height: 3px;
		width: 30px;
		bottom: -1px;
		left: 0;
	}
}
body {
	font-size: 16px;
}

.logo-pad {
		padding: 10px 0;
}

.jumbotron__content {
  color: $light-cream;
}
.jumbotron__title {
  color: $white;
}

.carousel .jumbotron__title h1 {
	color: $white;
}

.page-box__picture--inline > img {
	width: auto;
	margin: 10px;

}

@media (min-width: 992px) {
	.footer {
  	padding: 60px 0 0 0;
	}
}

.footer .widget_nav_menu ul > li > a:hover {
	color: #b8b8b8;
}

.footer .read-more:hover {
  color: $color-primary-light;
}

/* Contact Forms */

.footer {
	.wpcf7-text, .wpcf7-textarea 	{
		background: #4F4F56;
		border: 1px solid #66666E;
		padding: 5px;
		color: $white;
	}
	.wpcf7-text:focus, .wpcf7-textarea:focus {
		border-color: #dddddd;
		background: #616169;
	}

	.wpcf7-textarea { height: 160px;}
}

.jumbotron__category h6 {
 text-transform: uppercase;
}

.footer-bottom a {
  color: #fff;
	font-style: italic;
	&:hover {
		color: $light-cream;
	}
}

.navbar-toggle {
  background: $color-primary-light;
  transition: all 200ms ease-out;
	span {
		color: #fff;
	}
	&:hover {
		background: $color-primary;
	}
}

.navbar-toggle .icon-bar {
	background: #fff;
}

.topbar__form--group {
	& input[type="search"] {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	& button[type="submit"] {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		margin-left: -3px;
	}
}

.top { border-bottom: none; }

.topbar__search {
  width: 100%;
	max-width: 66%;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  padding: 6px 5px 6px 10px;
  font-weight: normal;
  height: 31px;
  border-radius: 2px;
	color: $light-text;
	@media screen and ( max-width: 991px) {
		max-width: 300px;
	}
	@media screen and ( max-width: 480px ) {
		max-width: 60%;
	}
}

.topbar__button {
	background: $color-primary-light;
	margin-left:0;
	border-radius: 2px;
	border: 1px solid #748094;
	letter-spacing: 2px;
}

.navigation--top > li > a {
		@media screen and (min-width: 992px) {
  		padding:12px 15px 12px 10px;
	}
}

.topbar__menu-button-group {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 20px;
	& li {
		display: block;
		width: 100%;
		@media screen and (min-width: 550px) {
			display:inline-block;
			width: auto;
		}
	}
	@media screen and (min-width: 550px) {
		margin-bottom: 0;
	}
}
.top--group {
	text-align: center;
	@media screen and (min-width: 992px) {
		float: left;
	}
}

.topbar__menu-button {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	padding: 15px 30px;
	margin: 5px 0px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	display: inline-block;
	color: $white;
	transition: .3s ease;
	width: 100%;
		&:hover {
			color: #fff;
			text-decoration: none;
		}

		@media screen and (min-width: 550px) {
				width: auto;
				margin: 0 5px;
		}
		@media screen and (min-width: 992px) {
			margin-right: -4px;
			margin-left: 0;
			padding: 15px 10px;
			border-radius: 0;
		}
	}

.topnav {

	@media screen and (min-width: 992px) {
		float:right;
	}
}

#request-button {

	background: $color-primary-light;
	&:hover {
		background: #3B5576;
		}
	}

#report-button {

	background: $dark-dark-brown;
	&:hover {
		background: $light-gold; color:$light-cream ;
		}
	}

#quote-button {

	background: $light-cream; color: $light-gold ;
	&:hover {
		background: $light-gold; color: $light-cream ;
		}
	}
