<!-- Header
============================================= -->
  <%= include('includes/header.html') %>

	<div class="main-title" style="background-color: #f2f2f2; ">
		<div class="container">
			<h1 class="main-title__primary">Blog</h1>
			<h3 class="main-title__secondary">TIPS AND TRICKS HOW TO IMPROVE YOUR HOME</h3>
		</div>
	</div>
	<div class="breadcrumbs ">
		<div class="container">
			<span typeof="v:Breadcrumb"><a rel="v:url" property="v:title" title="Go to Company." href="index.html" class="home">Home</a></span>
			<span typeof="v:Breadcrumb"><span property="v:title">Blog</span></span>
		</div>
	</div>
	<div class="master-container">
		<div class="container">
			<div class="row">
				<main class="col-xs-12  col-md-9" role="main">
					<div class="row">
						<div class="col-xs-12">
							<article class="post sticky hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/6.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-13T13:59:35+00:00" class="meta-data__date">October 13, 2014</time>
									<span class="meta-data__author">By Primož Cigler</span>
									<span class="meta-data__categories"><a href="blog-single.html">Construction</a> &bull; <a href="blog-single.html">General Information</a></span>
									<span class="meta-data__comments"><a href="blog-single.html">4 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, tempore!</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure rem, pariatur amet aspernatur! Distinctio incidunt molestias doloremque quasi, ad odit ullam in, aliquid, eius illum totam reprehenderit quidem! Odit ducimus iure quas voluptas incidunt amet commodi deserunt ut non, reprehenderit et possimus sed tempora minus, eaque unde maxime recusandae sequi quos itaque ratione. Eveniet, neque mollitia dolorem culpa quisquam voluptates cumque atque consequuntur sed unde dolor ad earum illo inventore.</p>
									<p><a href="#" class="more-link"><span class="read-more read-more--post">Read more</span></a></p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/2.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-23T11:14:43+00:00" class="meta-data__date">October 23, 2014</time>
									<span class="meta-data__author">By Jaka Smid</span>
									<span class="meta-data__categories">
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a>
									</span>
									<span class="meta-data__tags">
										<a href="blog-single.html">tag1</a> &bull;
										<a href="blog-single.html">Tag</a>
									</span>
									<span class="meta-data__comments"><a href="#">2 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, beatae.</a>
								</h2>
								<div class="hentry__content">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde magni, officia laborum dolor aperiam sunt soluta voluptate porro aspernatur nihil beatae maxime, quas quod, culpa quos eaque quis ipsum blanditiis facilis voluptatem veritatis ullam dolores. Aliquam iure assumenda illum, accusantium velit perspiciatis iusto obcaecati voluptates maiores tenetur optio magni repellendus porro voluptatum labore veniam amet consectetur? Nihil ullam consequatur odit?</p>
									<p><a href="blog-single.html" class="more-link"><span class="read-more  read-more--post">Read more</span></a></p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/3.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-23T11:11:51+00:00" class="meta-data__date">October 23, 2014</time>
									<span class="meta-data__author">By Jaka Smid</span>
									<span class="meta-data__categories"> <a href="blog-single.html">Category</a></span>
									<span class="meta-data__tags">
										<a href="blog-single.html">Tag</a> &bull;
										<a href="blog-single.html">Tag</a> &bull;
										<a href="blog-single.html">Tag</a>
									</span>
									<span class="meta-data__comments"><a href="#">0 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, sit!</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi corrupti animi incidunt distinctio atque beatae quis explicabo totam iure repellat tempora a quibusdam delectus et, optio consequuntur, eligendi nobis. Consequatur fugit ullam quia ad eligendi. Odit fugit facere culpa sint praesentium modi enim id tenetur impedit, necessitatibus ut aspernatur excepturi explicabo architecto, dolore voluptates repellat, quos voluptatum voluptatibus!</p>
									<p>
										<a href="blog-single.html" class="more-link"><span class="read-more  read-more--post">Read more</span></a>
									</p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/4.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-23T11:10:17+00:00" class="meta-data__date">October 23, 2014</time>
									<span class="meta-data__author">By Jaka Smid</span>
									<span class="meta-data__categories">
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a>
									</span>
									<span class="meta-data__comments"><a href="#">0 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, vel.</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla alias, nihil quia ipsam natus molestias, aliquid dolorem, eius quos omnis non, tenetur cum ex! Molestias dolorum soluta, molestiae explicabo facilis mollitia, ad nesciunt reprehenderit expedita odit ipsum atque cum? Reprehenderit maiores sed quo, omnis consequatur provident quae corporis, tempora laboriosam aspernatur tenetur hic, dolorem.</p>
									<p>
										<a href="blog-single.html" class="more-link"><span class="read-more  read-more--post">Read more</span></a>
									</p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/5.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-23T11:08:52+00:00" class="meta-data__date">October 23, 2014</time>
									<span class="meta-data__author">By Jaka Smid</span>
									<span class="meta-data__categories">
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a>
									</span>
									<span class="meta-data__tags">
										<a href="blog-single.html">Tag</a> &bull;
										<a href="blog-single.html">Tag</a>
									</span>
									<span class="meta-data__comments"><a href="#">0 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, assumenda?</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam unde, esse et similique iure tempora dolore tenetur, enim eveniet perferendis, ipsam eius harum in provident cupiditate laboriosam, possimus ratione vel. Debitis itaque, fugit omnis, et provident consectetur reiciendis reprehenderit nam necessitatibus obcaecati iure quos magni architecto. Voluptatem eaque deserunt beatae a ratione.</p>
									<p>
										<a href="blog-single.html" class="more-link"><span class="read-more read-more--post">Read more</span></a>
									</p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/6.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-23T11:06:12+00:00" class="meta-data__date">October 23, 2014</time>
									<span class="meta-data__author">By Jaka Smid</span>
									<span class="meta-data__categories">
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a>
									</span>
									<span class="meta-data__tags">
										<a href="blog-single.html">Tag</a> &bull;
										<a href="blog-single.html">Tag</a>
									</span>
									<span class="meta-data__comments"><a href="#">0 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, quisquam.</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero doloribus cum maxime. Ducimus, sint placeat consequatur fugiat fuga, tempore minima ipsa hic odio architecto. Distinctio voluptas, rem perferendis ad enim quis pariatur ratione quod officiis corporis soluta vitae reprehenderit beatae sunt saepe nostrum, natus in rerum at alias mollitia nihil?</p>
									<p>
										<a href="blog-single.html" class="more-link"><span class="read-more  read-more--post">Read more</span></a>
									</p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<article class="post hentry post-inner">
								<a href="blog-single.html">
									<img width="848" height="480" src="images/demo/blog/1.jpg" class="img-responsive wp-post-image" alt="Content Image"/>
								</a>
								<div class="meta-data">
									<time datetime="2014-10-20T09:36:46+00:00" class="meta-data__date">October 20, 2014</time>
									<span class="meta-data__author">By Marko Prelec</span>
									<span class="meta-data__categories">
										<a href="blog-single.html">Category</a> &bull;
										<a href="blog-single.html">Category</a>
									</span>
									<span class="meta-data__tags">
										<a href="blog-single.html">Tag</a> &bull;
										<a href="blog-single.html">Tag</a>
									</span>
									<span class="meta-data__comments"><a href="#">0 Comments</a></span>
								</div>
								<h2 class="hentry__title">
									<a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, a?</a>
								</h2>
								<div class="hentry__content">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae nobis ea voluptatibus expedita dolores odio deserunt soluta iure, laborum doloribus voluptate repellat, aperiam quos repellendus corrupti fugit cum.</p>
<p>Quisquam voluptatem voluptate vitae, inventore, laboriosam suscipit ex temporibus odio asperiores dolor deleniti. Nulla corporis, asperiores magni modi, esse illo. Odio, est quam earum, recusandae iure molestiae libero?</p>
								</div>
								<div class="clearfix"></div>
							</article>
						</div><!-- /blogpost -->
						<div class="col-xs-12">
							<nav class="pagination  text-center">
								<ul class="page-numbers">
									<li><span class="page-numbers current"><span class="sr-only">Page </span>1</span></li>
									<li><a class="page-numbers" href="#"><span class="sr-only">Page </span>2</a></li>
									<li><a class="next page-numbers" href="#"><i class="fa fa-caret-right"></i></a></li>
								</ul>
							</nav>
						</div>
					</div>
				</main>
				<div class="col-xs-12  col-md-3">
					<div class="sidebar">

						<div class="widget widget_recent_entries push-down-30">
							<h4 class="sidebar__headings">Recent Posts</h4>
							<ul>
								<li><a href="blog-single.html">Lorem ipsum dolor sit amet, consectetur?</a></li>
								<li><a href="blog-single.html">Deleniti ducimus in laboriosam ex sit! Modi, maiores!</a></li>
								<li><a href="blog-single.html">Quam a facere velit illo deleniti enim, asperiores</a></li>
								<li><a href="blog-single.html">Ducimus in laboriosam ex</a></li>
								<li><a href="blog-single.html">Facere velit illo deleniti enim</a></li>
							</ul>
						</div>

						<div class="widget widget_tag_cloud push-down-30">
							<h4 class="sidebar__headings">Tag Cloud</h4>
							<div class="tagcloud">
								<a href="#" title="4 topics" style="font-size: 8pt;">Tag 1</a>
								<a href="#" title="2 topics" style="font-size: 12pt;">Tag 2</a>
								<a href="#" title="2 topics" style="font-size: 12pt;">Tag 3</a>
								<a href="#" title="1 topic" style="font-size: 8pt;">Tag 4</a>
								<a href="#" title="2 topics" style="font-size: 12pt;">Tag 5</a>
								<a href="#" title="1 topic" style="font-size: 8pt;">Tag 6</a>
								<a href="#" title="1 topic" style="font-size: 8pt;">Tag 7</a>
								<a href="#" title="1 topic" style="font-size: 8pt;">Tag 8</a>
								<a href="#" title="2 topics" style="font-size: 12pt;">Tag 9</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div>
  <!-- FOOTER -->
	<%= include('includes/footer.html') %>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="js/almond.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/header_carousel.js"></script>
<script type="text/javascript" src="js/sticky_navbar.js"></script>
<script type="text/javascript" src="js/simplemap.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
