<!-- Header
============================================= -->
  <%= include('includes/header.html') %>

	<div class="main-title" style="background-color: #f2f2f2">
		<div class="container">
			<h1 class="main-title__primary">Generic Subpage</h1>
		</div>
	</div>
	<div class="breadcrumbs ">
		<div class="container">
			<span typeof="v:Breadcrumb"><a title="" href="index.html" class="home">Home</a></span>
			<span typeof="v:Breadcrumb">Generic Page</a></span>

		</div>
	</div>
	<div class="master-container">
		<div class="container">
			<div class="row">
				<main class="col-xs-12  col-md-9  col-md-push-3" role="main">
					<div class="row">
						<div class="col-md-12">
              <a class="page-box__picture--inline" style="float:right;"href="images/demo/content/service1.jpg" data-rel="prettyPhoto" title="Content image">
                <img width="360" height="240" src="images/demo/content/service1.jpg" alt="Content Image" />
              </a>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, molestias laborum voluptas ducimus commodi at, corrupti labore sequi animi nesciunt optio accusamus possimus doloribus dicta eius in ipsa, aperiam omnis reiciendis, eum sint rerum accusantium sed odio. Ducimus pariatur, ab, quibusdam praesentium inventore facere accusantium alias est omnis veniam temporibus?</p>
<p>Voluptate dolore, provident cumque id commodi blanditiis perferendis cum totam quasi dignissimos nemo modi quaerat in exercitationem, reiciendis debitis eum. Cupiditate non temporibus, perspiciatis magnam necessitatibus praesentium quae distinctio, sunt voluptas qui esse repudiandae consequuntur doloribus odit nulla facilis, nam molestiae eum magni laborum at. Architecto deserunt consectetur sunt nemo?</p>
<p>Sapiente quisquam delectus nihil sunt reprehenderit quia nesciunt atque, fuga eum, corrupti veniam blanditiis deleniti sed, asperiores nobis perspiciatis voluptate accusamus. Quia laborum similique debitis sint id porro aliquam, dolor incidunt! Beatae debitis dolorum dolor nobis eveniet voluptas temporibus, reprehenderit sapiente laboriosam consectetur natus nostrum impedit cum odit, autem distinctio.</p>
<p>Incidunt, fuga earum sint nemo vero atque nihil sapiente sit totam consequatur, nesciunt deleniti! Quidem molestias cum, eveniet ea recusandae rerum dolores magni libero tempore cupiditate quo expedita maxime, praesentium excepturi at sunt esse doloribus voluptas accusamus alias culpa! Deleniti quia nam cum consectetur sit illum nobis doloribus doloremque soluta!</p>
            </div>
					</div>
					<div class="spacer"></div>

				</main>
				<div class="col-xs-12  col-md-3  col-md-pull-9">
					<div class="sidebar">
						<div class="widget widget_nav_menu  push-down-30">
							<div class="menu-services-menu-container">
								<ul id="menu-services-menu" class="menu">
									<li><a href="#">NAV ITEM 1</a></li>
									<li><a href="#">NAV ITEM 2</a></li>
									<li><a href="#">NAV ITEM 3</a></li>
									<li><a href="#">NAV ITEM 4</a></li>
									<li><a href="#">NAV ITEM 5</a></li>
									<li class="current-menu-item"><a href="#">CURRENT PAGE</a></li>
									<li><a href="#">NAV ITEM 6</a></li>
								</ul>
							</div>
						</div>
						<div class="widget widget-brochure-box  push-down-30">
							<h4 class="sidebar__headings">Brochures</h4>
							<a class="brochure-box" href="#" target="_blank">
								<i class="fa  fa-file-pdf-o"></i>
								<h5 class="brochure-box__text">Download .PDF</h5>
							</a>
						</div>
						<div class="widget  widget-brochure-box  push-down-30">
							<a class="brochure-box" href="#" target="_blank">
								<i class="fa  fa-file-word-o"></i>
								<h5 class="brochure-box__text">Download .DOC</h5>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /container -->

  <!-- FOOTER -->
	<%= include('includes/footer.html') %>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="../js/almond.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="../js/header_carousel.js"></script>
<script type="text/javascript" src="../js/sticky_navbar.js"></script>
<script type="text/javascript" src="../js/simplemap.js"></script>
<script type="text/javascript" src="../js/main.min.js"></script>
<script type="text/javascript" src="../js/main.js"></script>

</body>
</html>
