<!-- Header
============================================= -->
  <%= include('includes/header.html') %>


	<div class="main-title" style="background-color: #f2f2f2">
		<div class="container">
			<h1 class="main-title__primary">RESOURCE LANDING</h1>
			<h3 class="main-title__secondary">SUPPORTING TAGLINE FOR RESOURCE CENTER</h3>
		</div>
	</div>
	<div class="breadcrumbs ">
		<div class="container">
			<span typeof="v:Breadcrumb"><a title="" href="index.html" class="home">Home</a></span>
			<span typeof="v:Breadcrumb"><span>About Us</span></span>
		</div>
	</div>
	<div class="master-container">
		<div class="container">
			<div class="row">
				<main class="col-xs-12" role="main">



            <div class="row resource-block">
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 1</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></h5>
                  </li>
                  <li>
                    <h5><a href="">Sunt illum eum necessitatibus iusto! Odio quo, voluptatum repellendus </a></h5>
                  </li>
                  <li>
                    <h5><a href="">Blanditiis veritatis amet voluptatem accusamus reiciendis perspiciati</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 2</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </a></h5>
                  </li>
                  <li>
                    <h5><a href="">Iusto sequi, numquam odit, nostrum ratione tenetur ipsum.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Soluta cum, animi voluptas at quae, exercitationem asperiores?</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 3</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Itaque ipsam fugiat eaque earum perferendis.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Odio nobis, sint. Quaerat animi mollitia explicabo.</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
            </div>
            <div class="row resource-block">
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 1</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Corrupti tempora labore rem, itaque.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Minus voluptas eligendi nulla tenetur inventore, dolor.</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 2</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Distinctio beatae repellendus soluta architecto vero voluptatem.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Voluptates illo atque quasi iusto similique nobis repellat.</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
              <div class="col-md-4 clearfix">
                <div class="resource-title">
                  <h3>Resource 3</h3>
                </div>
                <ul class="resource-listing">
                  <li>
                    <h5><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Et ipsa soluta voluptatibus nobis, nostrum.</a></h5>
                  </li>
                  <li>
                    <h5><a href="">Rerum, quas praesentium cumque eius velit voluptatum.</a></h5>
                  </li>
                </ul>
                <a href="" class="btn btn-primary">More Articles</a>
              </div>
            </div>
        </main>
			</div>
			</div>
		</div><!-- /container -->
	</div>

  <!-- FOOTER -->
	<%= include('includes/footer.html') %>
</div><!-- end of .boxed-container -->

<script type="text/javascript" src="js/almond.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>

<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/header_carousel.js"></script>
<script type="text/javascript" src="js/sticky_navbar.js"></script>
<script type="text/javascript" src="js/simplemap.js"></script>
<script type="text/javascript" src="js/main.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>

</body>
</html>
